*{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

html{
    scroll-behavior: smooth;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 23px;
} 

img {
    max-width: 100%;
    width: 100%;
} 

.roboto-bold {
    font-family: "Roboto", sans-serif;
    font-size: 23px;
  }

.font-body{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    letter-spacing: 0.33rem;
    font-size: 45px; 
}
.montserra {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.title-hidden {
    opacity: 0;
    transform: translateX(-250px);
    transition: all 0.33s ease-in;
}

.title-toggle {
    opacity: 1;
    transform: translateX(0);
}
  
/* header section */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    height: 4.2rem; 
    width: 100%;
    top: 0px;
    position: relative;
    z-index: 30;
}
.logo{
    -webkit-user-select:none;
    -moz-user-select:none;
    user-select:none;
    margin-left: 10%;
    text-align: center;
}
.logo-letter{
    padding: 0 0.1rem;
    transition: all 100ms;
    color: #124076;
    font-weight: 600;
}
.logo-letter:hover{
    color: #F57D1F;
    font-size: 33px;
    font-weight: 700;
}
.logo:hover{
    cursor: pointer;
}
.nav-link{
    margin-right: 10%;
    display: flex;
}
.nav-link li{
    padding: 1rem;
    list-style: none;
    display: block;
}
.nav-link li a{
    display: inline-block;
    text-decoration: none;
    color: inherit;
}
.nav-link li:hover{
    border-radius: 30px;
    background-color: #124076;
    font-size: 23px;
    font-weight: 600;
    color: white;
    transition: all 200ms;
}

.nav-burger{
    display: none;
    cursor: pointer;
}

.nav-burger div {
    -webkit-user-select:none;
    -moz-user-select:none;
    user-select:none;
    width: 25px;
    height: 3px;
    background-color: black;
    margin: 5px;
}
/* nav-burger toggle animation */
.nav-burger-toggle{
    transform: translateX(-50px);
    opacity: 0;
}

.nav-burger-toggle-1{
    transform: rotate(-45deg) ; 
}

.nav-burger-toggle-2{
    transform: rotate(45deg);
    position: relative;
    top: -7px; 
}

/* profile section */
.banner {
    margin-top: 4.2rem;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tag-box{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    top: 10vh;
}
.intro-text-1, .intro-text-2 {   
    transition: ease-out 333ms;
    position: relative;
    z-index: 2;
}

.intro-text-1{
    top: 2.3vh;
}

.intro-text-2{
    bottom: 4.5vh;
}

.banner-span{
    border-bottom: 10px solid #FFB000;
}

.tag-box img {
    object-fit: contain;
    z-index: 0;
    min-width: 450px;
    width: 450px;
    clip-path: polygon(0 0, 100% 7%,100% 100%,0% 92%);
}

.banner-span:hover{
    font-weight: 777;
    border-top: 10px solid #87A922;
    border-bottom: 0px;
    cursor: pointer;
}

.highlight-container, .highlight{
    position: relative;
}

.highlight-container:before{
    content: " ";
    display: block;
    height: 90%;
    width: 100%;
    margin-left: -3px;
    margin-right: -3px;
    position: absolute;
    background: #87A922;
    transform: rotate(3.3deg);
    top: -1px;
    left: -1px;
    border-radius: 20% 23% 20% 23%;
    padding: 10px 3px 3px 10px;
}

.highlight{
    position: relative;
}


/* education section */
.education{
    margin-top: 50vh;
    margin-left: 10%;
    width: 80%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
.education h2 {
    position: relative;
    text-align: center;
    color: #124076;
    bottom: 10vh;
}
.edu-container{
    display: flex;
    min-width: 90%;
    width: 120%;
    justify-content: space-between;
}
.edu-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.edu-img{
    aspect-ratio: 1/1;
    padding: 8px;
    width: 30vh;
    border: 3px solid #FFB000;
    border-radius: 30vh;
    position: relative;
    z-index: 2;
    background-color: white;
}

.edu-text{
    position:relative;
    text-align: center;
    top: 3vh;
}
.edu-text-hidden{
    position: relative;
    top: 20%;
    transition: ease-in 200ms;
}
.edu-text-hidden:before{
    content: " ";
    height: 50px;
    width: 3px;
    display: block;
    position: relative;
    top: 80px;
    left: 59px;
    background-color: #FFB000;
}

.edu-line{
    position: absolute;
    width: 1200px;
    height: 3px;
    background-color: #FFB000;
    margin-left: 20px;
    top: 400px;
}

@media screen and (max-width: 768px) {
    .logo{
        position: absolute;
        top: 0rem;
        margin: 0;
    }
    .navbar{
        flex-direction: column;
    }
    .nav-burger {
        display: block;
        align-self: self-end;
        height: 3.2rem;
    }
    .nav-link{
        margin: 0;
        flex-direction: column;
        transition: opacity 290ms ease-in;
        height: 0;
        opacity: 0;
    }
    .nav-link li{
        text-align: center;
        width: 100vh;
        background-color: gray;
    }
    .nav-link li:hover{
        border-radius: 30px;
        height: auto;
    }
    .toggle{
        height: auto;
        opacity: 1;
    }
    .hidden{
        height: 0;
        opacity: 0;
    }
    .intro-text-2{
        width: 50%;
        font-size: 2rem;
    }
    .education{
        margin-top: 80vh;
    }
    .edu-container{
        flex-direction: column;
        width: 100%;
        min-height: 150%;
    }

    .edu-text-hidden{
        display: none;
    }
}