*{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

html{
    scroll-behavior: smooth;
    --font-color-text: #FF0060;
    --font-color-text-2: #0079FF;
    --font-color-text-3: #16003B; 
    --banner-color: #CCF6C8;
    --section-2-color: #FAFCC2;
    --section-3-color: #F6D6AD;
} 

body {
    font-family: "Roboto", sans-serif;
    font-size: 1.3vw;
    color: var(--font-color-text-3)
} 

img {
    max-width: 100%;
    width: 100%;
}

.font-body{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    letter-spacing: 0.33rem;
    font-size: 2.3vw; 
    color: var(--font-color-text);
}
.font-nav {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 600;
    font-size: 1.4vw;
}

.title-hidden {
    opacity: 0;
    transform: translateX(-23%);
    transition: all 0.33s ease-out;
}

.title-toggle {
    opacity: 1;
    transform: translateX(0);
}
  
/* header section */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0%;
    padding: 1vh 0;
    min-width: 100%;
    width: 100%;
    min-height: 5vh;
    height: 5vh;
    z-index: 30;
    background-color: var(--banner-color);
}
.logo{
    -webkit-user-select:none;
    -moz-user-select:none;
    user-select:none;
    text-align: center;
    margin-left: 10vh;
}
.logo-letter{
    padding: 0 0.1rem;
    transition: all 100ms;
    color: var(--font-color-text);
    font-weight: 600;
    font-size: 1.4vw;
}
.logo-letter:hover{
    color: var(--font-color-text-2);
    font-size: 2.5rem;
    font-weight: 700;
}
.logo:hover{
    cursor: pointer;
}
.nav-link{
    width: 50%;
    margin-right: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-link li{
    padding: 0.3rem 0;
    list-style: none;
    display: flex;
    justify-content: center;
}
.nav-link li a{
    display: inline;
    text-decoration: none;
    text-align: center;
    color: inherit;
}

.nav-link li:hover{
    border-radius: 18px;
    font-weight: 600;
    color: var(--font-color-text);
    transition: all 200ms;
}

.nav-burger{
    display: none;
    cursor: pointer;
}

.nav-burger div {
    -webkit-user-select:none;
    -moz-user-select:none;
    user-select:none;
    width: 1.6rem;
    height: 0.2rem;
    background-color: var(--font-color-text);
    margin: 0.3rem 0;
    transition: all 200ms;
}
/* nav-burger toggle animation */
.nav-burger-toggle{
    transform: translateX(0);
    opacity: 0;
}

.nav-burger-toggle-1{
    margin: 0;
    transform: rotate(-90deg) ;
}

.nav-burger-toggle-2{
    margin: 0;
    transform: rotate(90deg);
}

/* profile section */
#top{
    position: absolute;
    top: 0;
}
.banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 6vh;
    min-height: 94vh;
    height: 94vh;
    background-color: var(--banner-color);
}
.profile{
    width: 30%;
    max-width: 30%;
    min-width: 15%;
    aspect-ratio: 1/1;
    object-fit: contain;
    z-index: 0;
    clip-path: polygon(0 0, 100% 7%,100% 100%,0% 92%);
}
.intro-text { 
    color: var(--font-color-text-3);
    text-align: center;
}
.intro-line{
    width: 100%;
    height: 1px;
    position: relative;
    background-color: var(--font-color-text);
    transform: scaleX(0);
    transition: transform ease-in 500ms;
}
.intro-toggle{
    transform: scaleX(1);
}

/* About me */
.wrapper-1{
    width: 100%;
}
.about-me{
    margin-left: 10%;
    padding: 7% 0;
    display: flex;
    min-width: 80%;
    width: 80%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    gap: 2vh;
}
.about-heading{
    height: 10%;
    min-height: 10%;
}
.about-body{
    height: 90%;
    min-height: 90%;
    display: flex;
    justify-content: space-between;
}

.about-edu{
    display: flex;
    flex-direction: column;
    min-width: 50%;
    width: 50%;
    row-gap: 3vh;
}

.about-link{
    display: flex;
    flex: 1;
    align-items: center;
    width: 50vh;
    min-width: 50vh;
    column-gap: 10%;
}
.link-item{
    display: inline-block;
    width: 3vh;
    padding: 1vh;
}

.edu-container{
    min-width: 100%;
    width: 100%;
    height: 33vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.edu-item{
    min-width: 33%;
    width: 33%;
    height: 100%;
    min-height: 100%;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.edu-text-1, .edu-text-2{
    display: block;
    text-align: center;
    width: 100%;
    min-width: 100%;
}
.edu-text-1{
    height: 15%;
}
.edu-text-2{
    height: 25%;
}
.edu-img{
    aspect-ratio: 1/1;
    width: 50%;
    min-width: 68px;
}
.about-work{
    min-width: 50%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    row-gap: 3vh;
}

.work-item-left, .work-item-right{
    min-width: 70%;
    width: 70%;
    height: 20%;
    min-height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.work-item-left{
    right: 24.5%;
}

.work-item-right{
    left: 24.5%;
}

.year {
    min-width: 30%;
    width: 30%;
    text-align: center;
}

.year p {
    display: inline;
    padding: 1.2vh;
    background-color: var(--font-color-text-2);
    border-radius: 10px;
}

.work-item-left .year{
    order: 2;
}

.work-title{
    min-width: 70%;
    width: 70%;
}
.work-item-left .work-title{
    text-align: end;
}
.line-box-2{
    width: 0.1vw;
    height: 20%;
    background-color: var(--font-color-text-2);
    position: relative;
}

/* language section */
#tech{
    position: relative;
    bottom: 15vh;
}

.language{
    padding: 7% 0;
    width: 80%;
    min-width: 80%;
    margin-left: 10%;
}
.language h3 {
    margin-bottom: 3%;
}
.lang-container{
    display: flex;
    width: 100%;
    height: 60vh;
    column-gap: 3%;
    overflow: hidden;
    align-items: center;
}
.lang-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30vw;
    min-width: 30vw;
    height: 50vh;
    border: 1px solid black;
    text-align: center;
    transition: all 500ms;
}
.lang-item:hover{
    position: relative;
    transform: translateX(7px);
    transform: translateY(-7px);
    box-shadow: -7px 7px var(--font-color-text);
}
.lang-container h3{
    padding: 1vh;
}
.lang-item p{
    padding: 1vh;
    height: 15%;
}
.lang-item h3 {
    height: 25%;
}
.lang-img{
    width: 100%;
    height: 50%;
    max-height: 50%;
    object-fit: contain;
    margin-bottom: 1vh;
}
.lang-link{
    display: flex;
    height: 10%;
    max-height: 10%;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.contact{
    width: 100%;
    min-width: 80%;
    margin-left: 10%;
    padding: 7% 0;
}

#contact{
    display: inline-block;
}

.contact h3{
    margin-top: 3%;
}
#email{
    color: var(--font-color-text-3);
    font-weight: 700;
}
@media screen and (max-width: 768px) {
    body{
        font-size: 1rem;
    }
    .font-body{
        font-size: 5vw;
    }
    .navbar, .nav-link,  .banner, .about-me, .wrapper-1, .language, .contact{
        width: 100vw;
        min-width: 100vw;
        margin-left: 0;
        padding-left: 0;
    }
    /* Navbar  */
    .logo{
        margin-left: 0;
    }
    .logo-letter{
        font-size: 1.5rem;
    }
    .navbar{
        flex-direction: column;
        height:2vh;
    }
    .nav-burger {
        display: block;
        position: absolute;
        right: 10px;
        top: 5px;
    }
    .nav-link{
        margin-right: 0;
        flex-direction: column;
        transform: scaleY(0);
        transition: transform ease-in 333ms;
        transform-origin: top;
    }
    .nav-link-toggle{
        transform: scaleY(1);
    }
    .nav-link-hidden{
        transform: scaleY(0);
    }
    .nav-link li {
        width: 100%;
        min-width:100%;
        height: 3vh;
        min-height: 3vh; 
    }
    .nav-link li{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--banner-color);
    }
    .nav-link li:hover{
        height: auto;
        border-radius: 0;
        color: var(--font-color-text);
    }
    .font-nav{
        font-size: 1rem;
    }
    /* Banner */
    .banner{
        height: 50vh;
        min-height: 50vh;
    }
    .intro-text{
        font-size: 3vh;
    }
    .profile{
        width: 56%;
        max-width: 56%;
    }
    /* About me  */
    .about-me{
        height: auto;
    }
    .about-body{
        flex-direction: column;
        row-gap: 3vh;
    }
    .about-edu, .about-work{
        min-width: 100%;
        width: 100%;
    }
    .edu-text-1, .edu-text-2{
        font-size: 1rem;
    }
    .about-work{
        row-gap: 2rem;
    }
    #work{
        align-self: start;
    }
    .work-item-left .work-title{
        order: 2;
        text-align: start;
    }
    .work-item-left, .work-item-right{
        left: 0;
        right: 0;
    }
    /* Programming section */
    .lang-item p{
        font-size: 3.3vw;
    }
}